<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Author</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='add_style.css') }}">    

  </head>
  <body>
    <div class="container">
      <form action="/add_author" method="POST">
      <label for="name">Author Name:</label> 
      <input type="text" id="name" name="name" required><br><br>
      
      <label for="birthdate">Birthdate:</label> 
      <input type="date" id="birthdate" name="birthdate" required><br><br> 
      <label for="date_of_death">Date of Death:</label> 
      <input type="date" id="date_of_death" name="date_of_death"><br><br><br>
      <input type="submit" value="Add Author"> 
      </form>
      <div class="message" style={{ visibility_author_message }}>
        <h4>{{ added_author_message }}</h4> 
      </div>
      <div class="navigation-links">
            <a href="/">Home</a>
            <a href="/add_book">Add new book</a>
      </div>
    </div>
  </body>
</html>
